@font-face {
    font-family: 'CustomFont';
    src: url('fonts/CustomFont.ttf');
}

body {
    font-family: 'CustomFont', sans-serif;
    background-image: url("/html/images/ktmm.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin: 0;
    padding: 0;
}

.scroll-container {
    height: 100vh;
    overflow: hidden;
}

h2 {
    font-family: 'CustomFont', sans-serif;
    text-align: center;
    margin: 0;
    font-weight: bold;
    animation: scrollLeft 10s linear infinite;
}

@keyframes scrollLeft {
    0% { transform: translateX(100%); }
    100% { transform: translateX(-100%); }
}

.navbar {
    background-color:rgb(214, 98, 189);
    overflow: hidden;
}

.navbar a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 16px 16px;
    text-decoration: none;
}

.navbar a:hover {
    background-color: #ddd;
    color: black;
}

.buttons {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    position: absolute;
    top: 30px;
    left: 60%;
    transform: translateX(-50%);
}

.buttons button {
    margin: 10px;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #3885d8;
    color: #fff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.buttons button:hover {
    background-color: #297ac3;
}
h3 {
    font-family: 'CustomFont', sans-serif;
    text-align: center;
    margin: 0;
    font-weight: bold;

}

